* {
   box-sizing: border-box; 
}

.decompositions {
    display: flex;
}

.navigate-buttons {
    display: flex;
    justify-content: flex-start;
}

.Interlace-polynomials {
    display: flex;
}

.basic-polynomials {
    display: flex;
}

img {
    max-width: 100%;
    border: 2px solid black;
    width: 350px;
    height: auto;
}

.navigate-buttons a {
    
    background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px ;
	cursor: pointer;
	border-radius: 4px;
}

.main-info div {
    flex: 1 1 auto;
    border: 2px solid black;
    padding: 5px;
    background-color: lightgray;
    border-radius: 4px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decompositions div {
    flex: 1 1 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Interlace-polynomials div {
    
    flex: 1 1 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Interlace-polynomials div div {
    border: none;
    max-width: 500px;
    color: black;
}

.basic-polynomials div {
    
    flex: 1 1 auto;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-polynomials div div {
    border: none;
    max-width: 500px;
    color: black;
}